
/* ===== GENERAL ===== */
body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  scroll-behavior: smooth;
  background: #ffffff;
  margin: 0;
  padding: 0;
}
h1 { font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #0d3b66;}

h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 550;
  color: #0d3b66;
}
li{  font-family: 'Open Sans', sans-serif;
  font-weight: 480;}
p, span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 520;
}

.section-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.skill-badge {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

h1, h2, h5, p {
  margin: 0;
}

.section-title {
  font-weight: bold;
  color: #0d3b66;
  position: relative;
  margin-bottom: 1.5rem;
}
.section-title::after {
  content: '';
  width: 50px;
  height: 4px;
  background: #a4de02;
  display: block;
  margin: 10px auto 0;
}

/* ===== BUTTONS ===== */
.btn-blue {
  background: #0d3b66;
  color: #fff;
  border-radius: 20px;
  transition: 0.3s;
}
.btn-blue:hover {
  background: #a4de02;
  color: #0d3b66;
}
.btn-outline-blue {
  border: 2px solid #0d3b66;
  color: #0d3b66;
  border-radius: 20px;
  transition: 0.3s;
}
.btn-outline-blue:hover {
  background: #0d3b66;
  color: #fff;
}

/* ===== HERO ===== */
.hero {
  min-height: 65vh;
  display: flex;
  align-items: center;
  overflow: hidden;
 
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

}

.text-blue { color: #0d3b66; }
.text-lime { color: #a4de02; }

.hero-img {
  width: 100%;
  max-width: 440px;
  border-radius: 20px;
  z-index: 2;
}

.hero-wave-bottom {
  display: block;
  width: 100%;
  bottom: 0;
  left: 0;
}

/* ===== SKILLS ===== */


.category-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
  padding-bottom: 1%;
}

.skill-badge {
  display: inline-block;
  padding: 8px 20px;
  background: #0d3b66e3;
  color: #fff;
  border-radius: 40px;
  transition: 0.3s;
  cursor: default;
}
.skill-badge:hover {
  background: #a4de02;
  color: #0d3b66;
}

/* ===== PROJECTS ===== */
.project-card {
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  min-height: 220px;
}
.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

/* ===== CONTACT ICONS ===== */
.contact-icon {
  color: #0d3b66;
  transition: 0.3s;
}
.contact-icon:hover {
  color: #a4de02;
}

/* ===== FOOTER ===== */
.footer {
  background: #0d3b66;
  color: #fff;
}

/* ===== ANIMATION ===== */
.fade-in {
  opacity: 1 !important;
  transform: translateY(0) !important;
  transition: all 0.8s ease;
}
.project-card, .skill-box,  .about-t, .section-title, .education ul, .achievements ul, .services ul {
  opacity: 0;
  transform: translateY(30px);
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .hero-text {
    text-align: center;
  }
  .hero-img {
    margin-top: 2rem;
  }
}
